# k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wil-playground
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wil-playground
  template:
    metadata:
      labels:
        app: wil-playground
    spec:
      containers:
      - name: playground
        image: hashicorp/http-echo
        args:
        - "-text=Hello, World, Abdelhay!"
        ports:
        - containerPort: 5678