apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: playground-ingress
  namespace: dev # Target namespace
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx # Ensure this matches your Ingress Controller name
  rules:
  - host: wil-app.local.com # You will need to resolve this hostname locally
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: playground-service # Must match the Service name above
            port:
              number: 80